table {
  background-color: gray;
  border: 2px solid black;
  border-radius: 5%;
  display: inline-block;
  padding: 5px;
}

.directions {
  display: inline-block;
  vertical-align: top;
}

td {
  padding: 2px;
}

button {
  background-color: teal;
  border: 1px solid black;
  border-radius: 3%;
  color: transparent;
  font-size: 4em;
  font-family: Courier;
  height: 5rem;
  text-align: center;
  width: 5rem;
}

.revealed {
  background-color: white;
  color: black;
}

.game_over {
  color: red !important;
}