.portfolio-item:not(:last-child) {
    margin-bottom: 5em;
}

.portfolio-item:hover .portfolio-item-details {
    visibility: visible;
    opacity: 1;
}

.portfolio-item-links {
    text-align: center;
    font-weight: bold;
}

.portfolio-item-links a:first-child {
    border-right: 1px solid #f8f8f8;
    margin-right: 2em;
    padding-right: 2em;
}

.portfolio-item-details {
     position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(29, 106, 154, 0.72);
      color: #fff;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: visibility opacity 0.2s;
      background-color: rgb(85, 26, 139);
}
