/*
1. General
2. Main
3. Sidebar
*/

/* General */

/* Main */
main {
  padding-left: 5%;
  line-height: 1.5em;
  margin-top: 3%;
  margin-bottom: 10%;
  width: 75%;
  text-align: left;
}

.blog-post-nav a {
  padding-right: 15px;
}

header p {
  color: gray;
}

article {
  width: 90%;
  border-bottom: 1px solid gray;
  padding-bottom: 2%;
}

.date, .blurb {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.posts a {
  text-decoration: none;
}

h2 {
  text-decoration: underline;
  margin-bottom: 0.25em;
}

.blog-title {
  text-decoration: none;
}

/* Sidebar */
aside {
  width: 8em; /*looks weird with % resizing*/
  height: 50%;
  position: fixed;
  top: 31%; right: 5%;
  padding: 2%;
  border: 1px solid gray;
  border-radius: 2%;
  text-align: center;
  color: white;
  background-color: #333333;
}
  aside a {
    color: white;
    text-decoration: none;
  }
    aside a:visited {
      color: white;
    }
  aside .social-media {
    text-align: center;
    padding: 0;
    background-color: white;
    left: -1px;
    bottom: -3.4em;
    position: absolute;
    width: 100%;
    border-radius: 2%;
    border: 1px solid white;
  }
    aside .social-media img {
      width: 25px;
      height: 25px;
      padding: 0.25em;
    }
    aside .social-media li {
      word-spacing: 1em;
    }
  aside ul {
    padding-left: 0;
  }

.months li {
  margin-left: 2em;
  text-align: left;
}

.portrait {
  width: 116px;
  height: 108px;
  margin-bottom: 10px;
}
  .portrait img {
    position: absolute;
    text-align: center;
    width: 116px;
    height: 108px;
  }

.menu {
  padding: 10px;
  border-top: 1px solid;
}

/* when main-title fits on one line */
@media (max-width: 682px) {
  main {
    width: 100%;
  }
  aside {
    display: none;
  }
}

@media (min-width: 682px) {
  aside {
    height: 50%;
    top: 40%;
  }
}