/*
Organization convention of this file:
Code is broken up into sections based on order of appearance in the DOM:
1. General
2. Body
3. Header
4. Main
5. Footer
*/

/* General */
html, body {
  min-height: 100%;
}

/* Body */
body {
  font-family: "Lato", sans-serif;
  background-color: #f5f8fa;
  min-height: 100%;
}

/* Header */
header h1 {
  text-align: center;
  width: 41%;
  display: inline-block;
}

nav {
  text-align: left;
  width: 55%;
  display: inline-block;
  text-transform: uppercase;
}
  nav ul {
    width: 100%;
    padding: 0;
    display: inline-block;
  }
  nav li {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  nav a {
    color: gray;
    text-decoration: none;
  }
    nav a:hover {
      text-decoration: underline;
      color: teal;
    }


/* Main */
main {
  margin-top: 10%;
}

#portrait {
    display: inline-block;
    height: 216px;
    width: 41%;
}
  #portrait img {
    width: 233px;
    height: 216px;
    display: block;
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
  }

#bio {
  vertical-align: top;
  height: 216px;
  display: inline-block;
  width: 55%;
  position: relative;
}
  #bio div {
    width: 95%;
    height: 95%;
    position: absolute;
    margin: 0 auto;
    top: 0; bottom: 0; left: 5%;
  }

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  height: 5em;
  text-align: center;
  width: 100%;
}
  footer img {
    max-width: 35px;
    max-height: 35px;
    padding: 0 15px;
  }

