/*
Organization convention of this file:
Code is broken up into sections based on order of appearance in the DOM:
1. General
2. Body
3. Header
4. Main
5. Footer
*/

/* General */


/* Body */
body {
  font-family: "Lato", sans-serif;
  background-color: #e4ecf2;
  min-height: 100%;
  margin: 5%;
}

/* Header */
.main-title {
  text-align: center;
  font-size: 4em;
  font-family: "Courier New";
  margin: 2% 0;
}

nav {
  text-align: center;
  width: 100%;
  font-size: 1.1em;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Courier New"
}
  nav ul {
    width: 100%;
    padding: 0;
    display: inline-block;
  }
  nav li {
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  nav a {
    color: gray;
    text-decoration: none;
  }
    nav a:hover {
      text-decoration: underline;
      color: teal;
    }


/* Main */
main {
  margin-top: 5%;
  text-align: center;
}

a {
  color: #333333;
}
  a:visited {
    color: #707070;
  }
  a:hover {
    color: #adadad;
    text-decoration: underline;
  }

.portrait {
    display: inline-block;
    margin: 2.5% auto 5% auto;
}
  .portrait img {
    height: 350px;
    width: 350px;
    display: block;
    border: 1px solid black;
    border-radius: 50%;
  }

.bio {
  top: 0;
}

/* Footer */
footer {
  text-align: center;
}

.social-media {
  padding: 0;
  margin: 10% 0;
}
  .social-media li {
    display: inline;
    word-spacing: 2.5em;
  }
  .social-media img {
    max-width: 150px;
    max-height: 150px;
    width: 15%;
    height: 15%;
    margin: 0;
    padding: 0;
  }

.legal {
  font-size: 0.5em;
}