/* Organization convention of this file:
Code is broken up into sections based on order of appearance in the DOM:
1. General
2. Body
3. Header
4. Main
5. Footer
Subclass selectors are nested under parent. */

/* General */
ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

html, body {
  height: 100%;
}

/* Body */
body {
  font-family: "Lucida Sans";
  background-color: #f5f8fa;
  min-height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

/* Header */
header h1 {
  text-align: center;
  width: 41%;
  display: inline-block;
}

nav {
  text-align: left;
  width: 55%;
  display: inline-block;
  text-transform: uppercase;
}
  nav ul {
    width: 100%;
    padding: 0;
    display: inline-block;
  }
  li {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  nav a {
    text-decoration: none;
    color: gray;
  }
    nav a:hover {
      text-decoration: underline;
      color: teal;
    }


/* Main */
main {
  margin-top: 10%;
  height: 80%;
}

#portrait {
    display: inline-block;
    height: 216px;
    width: 41%;
}
  #portrait img {
    width: 233px;
    height: 216px;
    display: block;
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
  }

#bio {
  vertical-align: top;
  height: 216px;
  display: inline-block;
  width: 55%;
  position: relative;
}
  #bio div {
    width: 95%;
    height: 95%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 5%;
  }

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  height: 15%;
  text-align: center;
  clear: both;
  width: 100%;
}
  footer div {
    display: inline;
  }
  footer img {
    width: 35px;
    height: 35px;
    padding: 0px 15px;
  }
